.cluster01 {
    background: #c00808;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: 700;
    border: 1px solid #020202;
    font-family: monospace;
}

.cluster01:before {
    content: ' ';
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 1px solid white;
}

.cluster02 {
    background: #628504;
    border-radius: 30%;
    text-align: center;
    color: white;
    font-weight: 700;
    border: 2px solid #000000;
    font-family: monospace;
}

.cluster02:before {
    content: ' ';
    position: absolute;
    border-radius: 30%;
    z-index: -1;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 1px solid white;
}

.cluster03 {
    background: #3a2dad;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: 700;
    border: 2px solid #000000;
    font-family: monospace;
}

.cluster03:before {
    content: ' ';
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 1px solid white;
}

.cluster04 {
    background: #08bb76;
    border-radius: 40%;
    text-align: center;
    color: white;
    font-weight: 700;
    border: 2px solid #000000;
    font-family: monospace;
}

.cluster04:before {
    content: ' ';
    position: absolute;
    border-radius: 40%;
    z-index: -1;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 1px solid white;
}

.digits-1 {
    font-size: 14px;
    height: 28px;
    width: 28px;
    line-height: 28px;
    margin-top: -14px;
    margin-left: -14px;
}

.digits-2 {
    font-size: 16px;
    height: 34px;
    width: 34px;
    line-height: 35px;
    margin-top: -17px;
    margin-left: -17px;
}

.digits-2:before {
    border-width: 2px;
}

.digits-3 {
    font-size: 18px;
    height: 48px;
    width: 47px;
    line-height: 47px;
    border-width: 3px;
    margin-top: -24px;
    margin-left: -24px;
}

.digits-3:before {
    border-width: 3px;
}

.digits-4 {
    font-size: 18px;
    height: 58px;
    width: 58px;
    line-height: 57px;
    border-width: 4px;
    margin-top: -29px;
    margin-left: -29px;
}

.digits-4:before {
    border-width: 4px;
}